<!--<p>pages works!</p>-->
<!--<router-outlet></router-outlet>-->

<mat-toolbar color="primary" class="mat-elevation-z1">
  <button mat-icon-button id="menu" (click)="navSide.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>COTIZACIONES VEHÍCULOS</span>
  <span class="spacer"></span>
  <label class="lbl-title">Bienvenido {{username}}</label>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </ng-template>
</mat-menu>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" role="navigation"
               style="width: 220px;">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" routerLink="{{item.link}}">
        <!-- (click)="sideNav.close()"> -->
        <mat-icon>{{item.icon}}</mat-icon> <span class="nav-caption">{{item.text}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
