
table {
  width: 100%;
}

.icon-chevron {
  transition: all 500ms ease;
}

.icon-expand {
  transform: rotate(-180deg);
}

tr.detail-row {
  height: 0;
}

tr.element-row:hover {
  background: whitesmoke;
}

tr.element-row:active {
  background: #efefef;
}

tr.expanded-row {
  background: whitesmoke;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
