<table mat-table [dataSource]="lstData" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;" style="width: 15%"> {{(i+1)}} </td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef style="width: 70%"> Marca </th>
    <td mat-cell *matCellDef="let element" style="width: 70%"> {{element.marca}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef style="width: 15%"> Opciones </th>
    <td mat-cell *matCellDef="let obj" style="width: 15%">
      <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{object: obj}">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-object="object">
    <button mat-menu-item (click)="editar.emit(object)">
      <mat-icon>edit</mat-icon>
      <span>Modificar Registro</span>
    </button>
<!--    <button mat-menu-item (click)="eliminar.emit(object)">-->
<!--      <mat-icon>remove_circle_outline</mat-icon>-->
<!--      <span>Eliminar Registro</span>-->
<!--    </button>-->
  </ng-template>
</mat-menu>
